
{% extends '@admin/layout.twig' %}

{% block title "Editer les articles" %}

{% block body %}
    <h1>Gestion des news</h1>

    <table class="table table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Club</td>
                <td>Titre</td>
                <td>Actif</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% set token_input = csrf_input() %}
        {% for item in items %}
            <tr>
                <td class="align-middle">
                    {% if item.clubName %}{{ item.clubName }}{% else %}admin{% endif %}
                </td>
                <td class="align-middle">{{ item.name }}</td>
                <td class="align-middle">
                    <form style="display: inline;" action="{{ path('blog.admin.activate', {id : item.id}) }}" method="POST">
                        <button class="border-0 bg-transparent" style="cursor:pointer;">
                            {{ item.isValidated == true ?  '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}
                        </button>
                        {{ token_input | raw }}
                    </form>
                </td>
                <td class="align-middle" style="width: 110px">
                    <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary"><i class="fas fa-pencil-alt text-white"></i></a>
                    {# Permet de forcer les navigateur a faire des requetes en delete #}
                    {{ deleteButton(routePrefix ~ '.delete', {id: item.id}, 'deleteModal') }}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ modal('deleteModal', 'SUPPRIMER') }}
    {{ paginate(items, routePrefix ~ '.index') }}
{% endblock %}
