{% extends 'layout.twig' %}

{% block title "Produits" %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Nom</td>
            <td>Prix cotisant</td>
            <td>Prix non-cotisant</td>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.contributorPrice }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}