{% extends '@admin/layout.twig' %}

{% block title "Editer un club" %}

{% block body %}

    <h1 class="text-center text-md-left">Liste des membres du club</h1>

    <form action="{{ path('club.owner.member', {slug: slug}) }}" method="POST" class="row position-relative">
        {{ csrf_input() }}
        <div class="col-md-6">
            {{ field('email', null, "Email du membre à ajouter", {type: 'email'}) }}
        </div>
        <div class="ml-auto align-self-center">
            <button class="btn btn-primary" type="submit">Ajouter <i class="fas fa-plus text-white"></i></button>
        </div>
    </form>

    <table class="table table-striped text-center">
        <thead>
            <tr class="font-weight-bold">
                <td>Prénom</td>
                <td>Nom</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% set token_input = csrf_input() %}
        {% for member in members %}
            <tr>
                <td class="align-middle">{{ member.firstname }}</td>
                <td class="align-middle">{{ member.lastname }}</td>
                <td class="align-middle">
                    {# Permet de forcer les navigateurs a faire des requetes en delete #}
                    {{ deleteButton('club.owner.member.delete', {id: member.id, slug : slug}, 'deleteModal') }}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ modal('deleteModal', 'SUPPRIMER') }}
{% endblock %}