{# Si on fait bien partie de clubs #}
{% if (admin or clubs) %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="border-bottom border-gray pb-2 mb-0">Gérer mes clubs</h4>

        <div class="d-flex flex-wrap mt-4">
            {% if admin %}
                <a class="d-flex flex-column align-items-center mr-4 pr-4 {% if clubs %}border-right{% endif %} mb-4" href="{{ path('admin') }}">
                    <img  class="rounded-circle mb-2" style="width: 64px; height: 64px;" src="/img/logo_black.svg" data-holder-rendered="true">
                    <strong class="d-block text-gray-dark text-center">Administration</strong>
                </a>
            {% endif %}
            {% for club in clubs %}
                <a class="d-flex flex-column align-items-center flex-wrap mr-4 mb-4" href="{{ path('club.owner.dashboard', {slug: club.slug}) }}">
                    <img  class="rounded-circle mb-2 " style="width: 64px; height: 64px;" src="
                        {% if club.logo == null %}
                            /img/image_placeholder.png
                        {% else %}
                            {{ club.getThumb }}
                        {% endif %}
                    " data-holder-rendered="true">
                    <strong class="d-block text-gray-dark text-center">{{ club.name }}</strong>
                </a>
            {% endfor %}
        </div>

    </div>
{% endif %}