{% extends 'layout.twig' %}

{% block body %}
    {{ showFlash('error') }}

    <h1>Confirmation de votre compte</h1>
    <p class="text-muted">Pour finir votre inscription vous devez choisir un mot de passe confidentiel.</p>

    <form action="" method="POST">
        {{ csrf_input() }}
        {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
        {{ field('password_confirm', null, 'Confirmer le mot de passe', {type: 'password'}) }}
        <button class="btn btn-primary">Enregistrer mon mot de passe</button>
    </form>

{% endblock %}