{% extends 'layout.twig' %}

{% block body %}
    {{ showFlash('success') }}

    <h1 class="text-center text-md-left">Modifier mes informations ZZ</h1>
    <form action="" method="POST">
        {{ csrf_input() }}
        {{ field('nickname', user.nickname, 'Surnom') }}
        <h2>Changer de mot de passe</h2>
        <p class="text-muted">Laissez vide pour ne rien changer</p>
        {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
        {{ field('password_confirm', null, 'Confirmation du mot de passe', {type: 'password'}) }}
        <button class="btn btn-primary">Modifier mes informations</button>
    </form>
{% endblock %}