{% extends '@admin/layout.twig' %}

{% block title "Ajouter un produit" %}

{% block body %}

    <h1>Ajouter un club</h1>

    <form action="{{ path(routePrefix ~ '.create') }}" method="POST" enctype="multipart/form-data">
        {% include viewPath ~ '/form.twig' %}
        <button class="btn btn-primary" type="submit"><i class="fas fa-plus text-white mr-2"></i>Ajouter</button>
    </form>
{% endblock %}
