<div class="media text-muted pt-3 border-top border-gray pt-2 mb-0">
    <div class="rounded bg-primary text-white text-center mr-4" style="width: 48px; height: 48px; line-height: 48px"><i class="fas fa-box-open"></i></div>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Produits</strong>
            <div>
                <a href="{{ path('product.admin.index') }}" style="margin: 10px;"><i class="fas fa-pencil-alt text-primary"></i></a>
                <a href="{{ path('product.admin.create') }}" style="margin: 10px;"><i class="fas fa-plus text-dark"></i></a>
            </div>
        </div>
        <span class="d-block">Nombre de produits : <strong>{{ products }}</strong> ({{ productsVisible }} visibles)</span>
    </div>
</div>