{% extends '@admin/layout.twig' %}

{% block title "Editer l'article" %}

{% block body %}

    <h1>Ajouter un article</h1>

    <form action="{{ path('blog.owner.create', {slug: slug}) }}" method="POST">
        {{ csrf_input() }}

        {{ field('name', post.name, "Titre de l'article") }}
        {{ field('slug', post.slug, "Lien") }}
        {{ field('content', post.content, "Contenu de l'article", {type: 'textarea'}) }}
        {{ field('created_at', post.createdAt, "Date de création", {class: 'datepicker'}) }}

        <button class="btn btn-primary" type="submit">Soumettre</button>
    </form>
{% endblock %}
