{% extends 'layout.twig' %}

{% block title "News" %}

{% block body %}
    <h1 class="">Les news et évènements</h1>

    <h2 class="d-md-none">News</h2>
    {% for post in posts %}
        <div class="media text-muted pt-3 border-bottom border-gray pb-2">
            <div class="rounded-circle mr-4" style="width: 48px; height: 48px;">
                <img  class="rounded-circle" height="100%" alt="Logo" src="
                {% if post.logo %}
                    {{ thumb(post.logo, 'clubs') }}
                {% else %}
                    /img/image_placeholder.png
                {% endif %}
                " data-holder-rendered="true">
            </div>
            <div class="media-body pb-3 mb-0 small lh-125">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <strong class="text-gray-dark">{{ post.name }} | {{ post.clubName }} {% if not post.isValidated %}| <span class="text-danger">Non validé</span>{% endif %}</strong>
                    <span class="d-block">{{ post.createdAt | ago }}</span>
                </div>
                <span class="d-block">{{ post.content | excerpt | nl2br }}</span>
                <a class="mt-4" href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">Lire la suite</a>
            </div>
        </div>
    {% endfor %}


    {{ paginate(posts, 'blog.owner.index', {slug : slug}) }}
{% endblock %}
