{% extends 'layout.twig' %}

{% block body %}
    {{ showFlash() }}

    <h2>Connection</h2>

    <form action="{{ path('auth.login') }}" method="POST">
        {{ csrf_input() }}
        {{ field('email', null, 'Email', {type: 'email'}) }}
        {{ field('password', null, 'Mot de passe', {type: 'password'}) }}
        <p><a href="{{ path('auth.password') }}">Mot de passe oublié ?</a></p>
        <button class="btn btn-primary">Se connecter</button>
    </form>

{% endblock %}