{% extends 'layout.twig' %}

{% block body %}
    {{ showFlash() }}

    <form action="" method="POST">
        {{ csrf_input() }}
        {{ field('email', null, 'Email', {type: 'email'}) }}
        <button class="btn btn-primary">Réinitialser mon mot de passe</button>
    </form>

{% endblock %}