{% extends 'layout.twig' %}

{% block title "News" %}

{% block body %}
    <h1 class="">Les news et évènements</h1>

    <div class="row my-4 flex-column-reverse flex-md-row">
        <div class="col-md-8">
        <h2 class="d-md-none">News</h2>
            {% for post in posts %}
                <div class="media text-muted pt-3 border-bottom border-gray pb-2">
                    <div class="rounded-circle mr-4" style="width: 48px; height: 48px;">
                        <img  class="rounded-circle" height="100%" alt="Logo" src="
                        {% if post.logo %}
                            {{ thumb(post.logo, 'clubs') }}
                        {% else %}
                            /img/image_placeholder.png
                        {% endif %}
                        " data-holder-rendered="true">
                    </div>
                    <div class="media-body pb-3 mb-0 small lh-125">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">{{ post.name }} | {{ post.clubName }}</strong>
                            <span class="d-block">{{ post.createdAt | ago }}</span>
                        </div>
                        <span class="d-block">{{ post.content | excerpt | nl2br }}</span>
                        <a class="mt-4" href="{{ path('blog.show', {slug: post.slug, id: post.id}) }}">Lire la suite</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="card-header">
                    <h2>Evènements</h2>
                </div>
                <div class="card-body">
                    Il n'y a aucun évènements pour le moment.
                </div>
            </div>
        </div>
    </div>


    {{ paginate(posts, 'blog.index') }}
{% endblock %}
