<h1>Confirmation</h1>
<p>
    Veuillez suivre les instructions pour activer votre compte
</p>

<p>
    <a href="{{ domain }}{{ path('account.confirm', {id: id, token: token}) }}">{{ domain }}{{ path('account.confirm', {id: id, token: token}) }}</a>
</p>

