{% extends '@admin/layout.twig' %}

{% block title "Ajouter un club" %}

{% block body %}

    <h1>Créer un nouveau club</h1>

    <form action="#" method="POST" enctype="multipart/form-data">
        {{ csrf_input() }}
        <div class="row">
            <div class="col-md-6">
                {{ field('name', null, "Nom du club") }}
            </div>
            <div class="col-md-6">
                {{ field('slug', null, "Lien") }}
            </div>
        </div>

        {{ field('president_email', null, "Adresse email du président", {type: 'email'}) }}

        <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>
{% endblock %}
