<div class="media text-muted pt-3 border-top border-gray pt-2 mb-0">
    <div class="rounded bg-primary text-white text-center mr-4" style="width: 48px; height: 48px; line-height: 48px"><i class="fas fa-gamepad"></i></div>
    <div class="media-body pb-3 mb-0 small lh-125">
        <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">Clubs</strong>
            <div>
                <a href="{{ path('club.admin.index') }}" style="margin: 10px;"><i class="fas fa-pencil-alt text-primary"></i></a>
                <a href="{{ path('club.admin.create') }}" style="margin: 10px;"><i class="fas fa-plus text-dark"></i></a>
            </div>
        </div>
        <span class="d-block">Nombre de clubs : <strong>{{ activateClubs + inactivateClubs}}</strong>
            (actifs : {{ activateClubs }} <strong>/</strong> inactifs : {{ inactivateClubs }})
        </span>
    </div>
</div>

